.navigation{
color: #959D9D;
position: -webkit-sticky;
position: sticky;
height: 60px;
background-color : #222222;
top : 0px ;
display: flex;
font-weight: 500;
z-index: 1;
}

.navigation_logo{
    width: 50%;
    color: white;
    font-weight: 600;
    font-size: larger;
    text-align: center;
}

.navigation_button{
    display: flex;
    align-items: center;
}

.logo{
    max-width: 100%;
    max-height: 100%;
}