  .topnav {
    display: flex;
    color: #a09d9d;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    overflow: hidden;
    background-color: rgb(39, 38, 38);

  }
  
  .topnav div{
    padding-left: 30px;
    cursor: pointer;
  }
  
  .topnav div:hover {
    color: rgb(245, 233, 233);
    text-decoration: none;
  }
  
  .topnav .icon {
    display: none;
  }

  .logo-container{
  height: 80px;
  }

  .logo{
    height: inherit;
  }
  

  
  