.aboutus-div{
    height: 300px;
    width: 100%;
    color : #c9c0c0 ;
    margin: auto;
}
.aboutus-div-3{
    height: 300px;
    width: 100%;
    color : #c9c0c0 ;
    margin: auto;
}
.right-border{
    border-right: 1px solid; 
}
.span-element{
    font-size: 20px;
    font-weight: 700;
    color: #BDBDBD;
    margin: auto;
}


.warpper-div{
    padding: 20px;
    display: flex;
   
}

@media only screen and (max-width: 755px) {
    .warpper-div{
        padding: 20px;
        display: block;  
    }
    .aboutus-div{
        border-bottom: 1px solid; 
        margin-bottom: 30px;
    }
    .right-border{
        border-right: 0px; 
    }
    .div-content{
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 88%;
    }
    .div-content::-webkit-scrollbar{
        display: none;
    }
    
  }