.register-popup-back{
  background-image: url("./introAssets/registerBack.jpg");
  max-width: 100%;
  max-height: 100%;
}
.register-pop-up{
    text-align: center;
    background-color : white;
    box-shadow: 1px 3px 8px rgb(0, 0, 0);
    
}
.scLogoBlack{
    height: 50px;
    width: 50px;
    background-image: url('../../Assets/scLogoBlack.png');

}

.registeration-button{
    /* color: #fff; */
    background :linear-gradient(94.08deg,#f6430f,#ee9f15);
    font-family: Muli,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    padding: 14px 10px;
    min-width: 200px;
    border-radius: 6px;
    border-width: 0;
    color: #fff;
    cursor: pointer;
  
}

/* .registeration-button:hover{
  color: #fff;
  background-color: #de4747;
  box-shadow: 2px 3px 6px grey;
} */

